*{
	
	box-sizing:border-box;
}

.logo{
	
	border-style:none;

	color:rgb(50,100,200)
}

.cname{
	
	border-style:solid;
	
	color:rgb(50,100,200);
}
.banner{
	height:700px;
	width:941px;
	margin:5px;
	
	background-image:url('../photo/banner4.jpg'  );
	background-repeat:no-repeat;
	margin-top:20px;
	background-position:center;
	

	
	text-align:center;
	font-size:60px;
	font-weight:bold;
	padding-top:200px;
	color:white;
	
}
.picture{
	border-style:solid;
	
	color:rgb(255,255,255);
	margin:35px auto;
}
.menu{
	background-color:white;
	height:50px;
	margin-top:3px;
	text-align:center;
	padding-top:12px;
	font-size:20px;
	text-decoration:none;
	
}
.menu a{
		color:rgba(3,3,82,0.95);
		text-decoration:none;
		
		
}	
a:hover
{
		color:#10ECDE ;
}
.Info{
	background-color:#D1CECD;
	border:2px solid;
	padding:20px auto;
	margin:30px auto;
	box-shadow:20px 20px rgb(215,218,210);
	
	text-align:justify;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	box-sizing:border-box;
}
.indexp{
	background-color:#D1CECD;
	font-size:18.18px;
	text-align:justify;
}
.footer{
	
	height:250px;
	background-color:#030B29 ;
	margin-top:5px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding-top:15px;
	color:white;
	box-shadow:5px 5px rgb(215,218,210);
	margin-bottom:10px;
	margin-top:30px;
	
}
a:visited{
	color:rgb(50,100,200);
}
.banner_about{
	height:400px;
	width:941px;
	margin:5px;
	background-image:url('../photo/aboutbanner.jpg'  );
	background-repeat:no-repeat;
	margin-top:20px;
	background-position:center;
	
	
	text-align:center;
	font-size:60px;
	font-weight:bold;
	padding-top:200px;
	color:white;
}
.Apicture{
	border-style:solid;
	
	color:rgb(255,255,255);
	margin:50px auto;
}
.Aboutinfo{
	
	text-align:justify;
	margin:00px auto;
}
.mission{
	float:left;
	background-color:rgb(50,100,200);
	color:white;
	border-radius:10px;
	border-color:rgb(50,100,200);
	box-shadow:20px 20px rgb(215,218,210);
	text-align:justify;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	box-sizing:border-box;
}
.banner1{
	height:345px;
	width:941px;
	margin:5px;
	background-image:url('../photo/Pro.jpg'  );
	background-repeat:no-repeat;
	margin-top:20px;
	background-position:center;

	
	text-align:center;
	font-size:60px;
	font-weight:bold;
	padding-top:200px;
	color:white;
	
}
.cont{
	float:left;
	background-color:rgb(50,100,200);
	color:white;
	border-radius:10px;
	border-color:rgb(50,100,200);
	box-shadow:20px 20px rgb(215,218,210);
	
	text-align:center;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	box-sizing:border-box;
	margin:50px auto;
}